<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Item 1
                    </a>
                </li>
                <li>
                    <a href="#">
                        Item 2
                    </a>
                </li>
                <li>
                    <a href="#">
                        Item 3
                    </a>
                </li>
                <li>
                    <a href="#">
                        Item 4
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="#">Tech Web</a>
        </p>
    </div>
</footer>
